<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Telebelerin siyahisi</title>
<style type="text/css">
table{
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}
th,td{
border: 1px solid black;
}
</style>
</head>
<body>
<table>
<thead>
<tr><th>ID</th><th>Ad</th><th>Soyad</th><th>Email</th></tr>
</thead>
<tbody>
<tr><td>1</td><td>Adil</td><td>Eliyev</td><td>adil@mail.com</td></tr>
<tr><td>2</td><td>Ayxan</td><td>Veliyev</td><td>ayxan@mail.com</td></tr>
</tbody>
</table>
</body>
</html>